<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @release.name %>
</p>

<p>
  <strong>Notracks:</strong>
  <%= @release.noTracks %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @release.artist.name %>
</p>

<p>
  <strong>Label:</strong>
  <%= @release.label.name %>
</p>

<p>
	<strong>Bio:</strong>
	<%= @release.bio %>
</p>

<strong>Tracks:</strong>
<% @release.tracks.each do |track| %>
	<br><%=track.name %>
<% end %>
<br>
<br>

<%= link_to 'Edit', edit_release_path(@release) %> |
<%= link_to 'Back', releases_path %>
